@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --font-heading:
    var(--font-heading), ui-serif, Georgia, Cambria, "Times New Roman", Times,
    serif;
  --font-body:
    var(--font-body), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", Roboto, "Helvetica Neue", Arial,
    "Noto Sans", sans-serif, "Apple Color Emoji",
    --color-foreground: var(--foreground)
    
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selection {
    border-color: var(--color-gray-200, currentColor);
  }
  

  :root {
    --background: #ffffff;
    --foreground: #171717;
    --primary: #0096FF;
    --secondary: #FFD600;
    --muted: #6C6C6C;
    --accent: #FF5E5E;
    --destructive: #FF0000;
    --border: #E5E5E5;
    --input: #F5F5F5;
  
  }
  @media (prefers-color-scheme: dark) {
    :root {
      --background: #0a0a0a;
      --foreground: #edcded;
    }
  }

  body{
    background-color: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}
/* body {
  @apply font-body bg-background text-foreground;
} */
/* 
h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-heading;
} */

@layer base {
  * {
    @apply  outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
